{% extends "base.html" %} 
{% block title %}Boggle Game{% endblock %} 

{% block main %}
<div class="container text-center mt-5">
  <h1>Boggle Game!</h1>
</div>
<section id="boggle">
  <div class="container text-center mt-5">
    <table class="table table-bordered board">
      {% for row in board %}
      <tr>
        {% for letter in row %}
        <td>{{letter}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="container text-center mt-5">
    <form method="POST" class="submit-word">
      <input type="text" class="word" placeholder="Input your guess" autofocus />
      <button>Submit</button>
    </form>
  </div>
  <p>Seconds left: <b class="timer"></b></p>
  <p class="msg">

  </p>
  <p class="score">

  </p>
</section>

{% endblock %}
{% block scripts %} 
<script src="/static/boggle.js"></script>
<script>let game = new Boggle_Game("boggle",60)</script>
{% endblock %}
